# Core dependencies
pandas
numpy
scikit-learn
netcal
#requests
#requests-html
#beautifulsoup4
#bs4
#lxml

# Text and NLP
regex
transformers==4.51.3    #==4.50.3
sentencepiece
torch

# Data saving/loading
tqdm
jsonlines
datasets

# APIs and web data
#yfinance
#yahoo_fin
huggingface_hub

#RL environment
#gym
peft