# Core dependencies
pandas
numpy
requests
requests-html
beautifulsoup4
bs4
lxml

# Text and NLP
regex
transformers
torch

# Data saving/loading
tqdm
jsonlines

# APIs and web data
yfinance
yahoo_fin
huggingface_hub