# Core dependencies
pandas
numpy
scikit-learn
netcal

# Text and NLP
regex
transformers==4.51.3    #==4.50.3
torch

# Data saving/loading
tqdm
jsonlines
datasets

# APIs and web data
#yfinance
#yahoo_fin
huggingface_hub

# RL environment
#gym
peft


# May not work with pip install (works with conda install)
sentencepiece
